trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  # Checkout code from GitHub
  - checkout: self

  # Step 1: Install Terraform
  - script: |
      sudo apt-get update -y
      sudo apt-get install -y wget unzip
      wget https://releases.hashicorp.com/terraform/1.5.7/terraform_1.5.7_linux_amd64.zip
      unzip terraform_1.5.7_linux_amd64.zip
      sudo mv terraform /usr/local/bin/
      terraform -version
    displayName: 'Install Terraform'

  # Step 2: Initialize Terraform
  - script: |
      cd AWSProject
      terraform init
    displayName: 'Terraform Init'

  # Step 3: Apply Terraform (auto approve)
  - script: |
      cd AWSProject
      terraform apply -auto-approve
    displayName: 'Terraform Apply'

  # Step 4: Install Ansible
  - script: |
      sudo apt-add-repository ppa:ansible/ansible -y
      sudo apt-get update -y
      sudo apt-get install -y ansible
      ansible --version
    displayName: 'Install Ansible'

  # Step 5: Run Ansible playbooks
  - script: |
      cd AWSProject/ansible
      ansible-playbook -i inventory.ini install_docker.yml
      ansible-playbook -i inventory.ini ../docker-app/deploy_docker.yml
    displayName: 'Run Ansible Playbooks'
